<% include partials/header %>

    <div id="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1 class="display-3">Theia</h1>
                    <p class="lead">Shining a light on package vulnerabilities...</p>
                    <hr class="my-4">
                    <a href="/admin" class="btn btn-lg btn-success">Login</a>
                </div>
            </div>
        </div>
    </div>
    
<% include partials/footer %>
