<% include partials/header %>

    <div id="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron" id="front">
                    <h1 class="display-3">Theia</h1>
                    <p class="lead">Shining a light on vulnerabilities...</p>
                    <hr class="my-4">
                    <a href="/admin" class="btn btn-primary">Admin</a>
                    <a href="/api/hosts" class="btn btn-primary">Hosts</a>
                    <a href="/api/packages" class="btn btn-primary">Packages</a>
                </div>
            </div>
        </div>
    </div>
    
<% include partials/footer %>
